<section>
  <div class="container">
    <h2 class="title">What our Customers Say</h2>
    <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <ul>
      <li>
        <img src="./images/stars.svg" alt="stars"></img>
        <p>
          “The Best app I have used to order food in a while, so many options to
          choose from too, I would recommend to a freind, No questions asked”
        </p>
        <div>
          <img src="./images/customers/customer_1.jpg" alt="customer" />
          <p>Sumith Shah</p>
          <p>Some Dude</p>
        </div>
      </li>
      <li>
        <img src="./images/stars.svg" alt="stars"></img>
        <p>
          “The ease with which I can just go in and order what i want was
          amazing, It has been a very pleasant experience ordering from this
          app”
        </p>
        <div>
          <img src="./images/customers/customer_2.jpg" alt="customer" />
          <p>Sumith Shah</p>
          <p>Some Dude</p>
        </div>
      </li>
    </ul>
  </section>
</div>
