<footer>
  <section>
    <div>
      <a href="#">
        <picture class="header__picture">
          <source
            srcset="images/logo/logo_x1.png, images/logo/logo_x1.png 2x"
            type="image/png"
          />
          <img
            src="images/logo/logo_x1.png"
            loading="lazy"
            alt="logo icecream"
          />
        </picture>
      </a>
      <div>
        <nav>
          <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#service">Service</a></li>
            <li><a href="#menu">Menu</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <div>
      <ul>
        <li><a>Privacy Policy</a></li>
        <li><a>Terms of Service</a></li>
        <li><a>Cookies Settings</a></li>
      </ul>
      <div>2023 FoodSta. All right reserved.</div>
    </div>
  </section>
</footer>
