<header id="'header">
  <section>
    <a href="#">
      <picture class="header__picture">
        <source
          srcset="images/logo/logo_x1.png, images/logo/logo_x1.png 2x"
          type="image/png"
        />
        <img src="images/logo/logo_x1.png" loading="lazy" alt="logo icecream" />
      </picture>
    </a>
    <div>
      <nav>
        <ul>
          <li>Home</li>
          <li>About</li>
          <li>Service</li>
          <li>Menu</li>
          <li>Contact</li>
        </ul>
      </nav>
      <button>Order Now</button>
    </div>
  </section>
</header>
