<section class="hero" id="about">
  <div class="container">
    <div>
      <h1 class="title">Enjoy Your Favorite Food From Anywhere</h1>
      <p class="description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique. Duis cursus, mi quis viverra
        ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
      </p>
      <button class="button button__green-small">Order Now</button>
    </div>
    <div class="slider"></div>
  </div>
</section>
