<section class="hero" id="about">
  <div class="container container__hero">
    <div>
      <h1 class="title hero__title">Enjoy Your Favorite Food From Anywhere</h1>
      <div class="hero_box">
        <div class="hero__info">
          <p class="description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            varius enim in eros elementum tristique. Duis cursus, mi quis
            viverra ornare, eros dolor interdum nulla, ut commodo diam libero
            vitae erat.
          </p>
          <button class="button button__green-small" id="btn-hero">
            Order Now
          </button>
        </div>
      </div>
    </div>
    <div class="slider"></div>
  </div>
</section>
